.container {
  width: 250px;
  position: relative;
}

.reset-parameters-button {
  font-size: 12px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 10px;
  /* position: relative; */
  /* left: 50px; */
  background-color: #333;
}

.reset-menu-parameters {
  margin-left: 20px;
}

.field-container {
  padding-top: 10px;
  padding-left: 15px;
}

.field-group {
  margin-bottom: 20px;
}

.small-field-group {
  margin-top: -5px;
  margin-bottom: 10px;
}

.top-container {
  width: 270px;
  background-color: #222;
  position: sticky;
  top: 0;
  padding-top: 20px;
  z-index: 1000;
  border-bottom: 1px solid rgb(76, 76, 76);
}

.first-field {
  padding-top: 10px;
}

.file-select {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 7px;
  width: 88px;
}

input[type="file"] {
  display: none;
}

.subtitle {
  /* font-weight: 700; */
  color: #aaa;
  width: 75px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.select-title {
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  width: 95px;
}

.after-select {
  margin-left: 13px;
}

.after-field {
  margin-left: 20px;
}

.reset-button {
  /* color: rgb(255, 100, 100); */
  border: 2px solid;
  border-radius: 100%;
  width: 19px;
  height: 19px;
  position: relative;
  background-color: #222;
  cursor: pointer;
  margin-bottom: -30px;
}

#gradient-reset {
  top: -14px;
  left: -7px;
}

#background-reset {
  top: -14px;
  left: 10px;
}


.reset-label {
  font-size: 17px;
  font-weight: bold;
  transform: translate(0.6px, 0.5px);
}

.file-selects-container {
  display: inline-flex;
}

.divider {
  height: 0.5px;
  border-radius: 100px;
}

.field-divider {
  width: 100%;
  margin: 0 10px 8px 10px;
  background-color: rgb(76, 76, 76);
}

.checkbox-field {
  margin-left: -6px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: rgb(76, 76, 76);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: rgb(176, 176, 176);
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid rgb(176, 176, 176);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  margin-left: 5px;
  margin-bottom: 8px;
}

input[type="checkbox"]:hover {
  transform: scale(1.1);
  transition: 180ms transform ease-in-out;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: center center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.checkbox-container {
  display: inline-flex;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: rgb(76, 76, 76);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: rgb(176, 176, 176);
  width: 1em;
  height: 1em;
  border: 0.1em solid rgb(176, 176, 176);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]:hover {
  transform: scale(1.15);
  transition: 180ms transform ease-in-out;
}

input[type="radio"]::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.radio-container {
  margin-left: -1px;
  display: inline-flex;
}

.after-label {
  margin-left: .6em;
  position: relative;
  top: -1px;
}

.before-label {
  margin-right: 1em;
  position: relative;
  top: -1px;
  margin-left: .3em;
}

.radio-label {
  margin-right: 10px;
  margin-top: -0.5px;
}

.title {
  padding: 0 0 20px 20px;
}

.title-a {
  font-size: 27px;
  font-weight: 700;
  color:rgb(220, 220, 220);
  text-decoration: none;
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: white !important;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: white !important;
}

.range-container {
  height: 45px;
  margin-left: -6px;
  margin-top: 15px;
}

.range-container label {
  margin-left: 10px;
}

.range-label {
  margin-left: 8px;
  margin-bottom: -8px;
}

.parameters-container {
  margin-top: 3px;
}

.text-field {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: rgb(76, 76, 76);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 3px;
  width: 190px;
  margin-left: -2px;
}

.text-field-label {
  margin-bottom: 8px;
  margin-top: 10px;
}

#initCond-select {
  margin-bottom: 10px;
  color: white;
  background-color: rgb(76, 76, 76);
  border: none;
  border-radius: 4px;
  padding: 3px;
}

.labeled-field-container {
  margin: 5px 0;
  margin-left: 10px;
}

.labeled-field {
  width: 165px;
}

.xy-label {
  margin-left: 10px;
}

.space-above {
  margin-top: 10px;
}

.subnail-image {
  max-width: 40px;
  max-height: 30px;
  margin-right: 10px;
  transform: translate(0, 20%);
  border: 1px solid gray;
  border-radius: 3px;
}

.grad-subnail-image {
  width: 25px;
  height: 30px;
  margin-right: 10px;
  transform: translate(0, 30%);
  border-radius: 3px;
}

.subnail-continer {
  width: 50px;
  display: inline-flex;

}