<div class="container">
  <div class="small-field-group">
    <div class="field-container">
      <button mat-icon-button aria-label="play" (click)="togglePause()">
        <mat-icon>{{parameters.pause ? 'play_arrow' : 'pause'}}</mat-icon>
      </button>
      <button mat-icon-button aria-label="play" (click)="reset()">
        <mat-icon>restart_alt</mat-icon>
      </button>
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="field-group">
    <div class="field-container">
      <div class="file-selects-container">
        <div class="file-select-container" (drop)="onDropGradient($event)" (dragover)="dragOverGradient($event)" (dragleave)="dragLeaveGradient($event)">
          <label class="file-select" [style.background] = "isHovering.gradient ? '#666' : 'inherit'">
            <input #gradientInput type="file" accept="image/*" (change)="selectGradient(gradientInput)">
            Gradient
            <div class="subtitle">{{gradientName}}</div>
          </label>
          <div *ngIf="parameters.texture && parameters.texture.gradient" id="gradient-reset" class="reset-button" (click)="resetGradient()">
            <span class="material-symbols-rounded reset-label"> restart_alt </span>
          </div>
        </div>
        <div class="file-select-container" (drop)="onDropBackground($event)" (dragover)="dragOverBackground($event)" (dragleave)="dragLeaveBackground($event)">
          <label class="file-select after-field" [style.background] = "isHovering.background ? '#666' : 'inherit'">
            <input #backgroundInput type="file" accept="image/*" (change)="selectBackground(backgroundInput)">
            Background
            <div class="subtitle">{{backgroundName}}</div>
          </label>
          <div *ngIf="parameters.texture && parameters.texture.background" id="background-reset" class="reset-button" (click)="resetBackground()">
            <span class="material-symbols-rounded reset-label"> restart_alt </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="field-container checkbox-field">
    <div class="checkbox-container">
      <input #forceAspectRatio type="checkbox" [ngModel]="parameters.forceAspectRatio" (ngModelChange)="parameters.forceAspectRatio = $event; parametersChange.emit(parameters)">
      <label for="forceAspectRatio" class="after-label">Force aspect ratio</label>
    </div>
  </div>
  <div class="divider field-divider"></div>
</div>