<div class="container">
  <div class="title">
    <a href="/" class="title-a">Wave Simulation</a>
  </div>
  <!-- <div class="divider field-divider"></div> -->
  <div class="small-field-group">
    <div class="field-container">
      <button mat-icon-button aria-label="play" (click)="togglePause()">
        <mat-icon>{{parameters.pause ? 'play_arrow' : 'pause'}}</mat-icon>
      </button>
      <button mat-icon-button aria-label="restart" (click)="reset()">
        <mat-icon>restart_alt</mat-icon>
      </button>
      <button mat-icon-button aria-label="next" (click)="nextFrame()">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="field-group">
    <div class="field-container">
      <div class="file-selects-container">
        <div class="file-select-container" (drop)="onDropGradient($event)" (dragover)="dragOverGradient($event)" (dragleave)="dragLeaveGradient($event)">
          <label class="file-select" [style.background] = "isHovering.gradient ? '#666' : 'inherit'">
            <input #gradientInput type="file" accept="image/*" (change)="selectGradient(gradientInput)">
            Gradient
            <div class="subtitle">{{gradientName}}</div>
          </label>
          <div *ngIf="parameters.texture && parameters.texture.gradient" id="gradient-reset" class="reset-button" (click)="resetGradient()">
            <span class="material-symbols-rounded reset-label"> close </span>
          </div>
        </div>
        <div class="file-select-container" (drop)="onDropBackground($event)" (dragover)="dragOverBackground($event)" (dragleave)="dragLeaveBackground($event)">
          <label class="file-select after-field" [style.background] = "isHovering.background ? '#666' : 'inherit'">
            <input #backgroundInput type="file" accept="image/*" (change)="selectBackground(backgroundInput)">
            Background
            <div class="subtitle">{{backgroundName}}</div>
          </label>
          <div *ngIf="parameters.texture && parameters.texture.background" id="background-reset" class="reset-button" (click)="resetBackground()">
            <span class="material-symbols-rounded reset-label"> close </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="field-group">
    <div class="field-container checkbox-field">
      <div class="checkbox-container">
        <input #forceAspectRatio type="checkbox" [ngModel]="parameters.forceAspectRatio" (ngModelChange)="parameters.forceAspectRatio = $event; parametersChange.emit(parameters)">
        <label for="forceAspectRatio" class="after-label">Keep aspect ratio</label>
      </div>
    </div>
    <div class="field-container radio-container">
      <span class="radio-label">Quality</span>
      <input type="radio" id="LODChoice1" name="LOD" [value]="1" [(ngModel)]="parameters.LOD" (change)="parametersChange.emit(parameters)">
      <label for="LODChoice1" class="before-label">High</label>

      <input type="radio" id="LODChoice2" name="LOD" [value]="2" [(ngModel)]="parameters.LOD" (change)="parametersChange.emit(parameters)">
      <label for="LODChoice2" class="before-label">Medium</label>
  
      <input type="radio" id="LODChoice3" name="LOD" [value]="2.8" [(ngModel)]="parameters.LOD" (change)="parametersChange.emit(parameters)">
      <label for="LODChoice3" class="before-label">Low</label>
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="field-container checkbox-field">
    <div class="checkbox-container">
      <input #energy type="checkbox" (click)="toggleEnergy()">
      <label for="energy" class="after-label">Average energy</label>
    </div>
  </div>
  <div class="divider field-divider"></div>
</div>